{% include 'header.html' %}
<form action="../public/index.php?path=user" class="form-reg" method="POST">
    <label for="userName">Введите Ф.И.О.:</label>
    <input name="userName" type="text" value="">
    <label for="userPhone">Введите ваш телефон:</label>
    <input name="userPhone" type="tel" value="">
    <label for="userEmail">Введите ваш e-mail:</label>
    <input name="userEmail" type="email" value="">
    <label for="pass">Придумайте пароль:</label>
    <input name="pass" type="password" value="">
    <input name="save" type="submit" value="Сохранить">
</form>
{% include "footer.html" %}