<!DOCTYPE html>
<html>

    <head>
        <title>{{ title }}</title>
    </head>
    <script src="../public/js/main.js"></script>

    <body>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="../public/index.php?path={{ category.src }}" link="{{ category.id_category }}"
                class="category-link">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <form class="form-auth" action="../public/index.php?path=user" method="POST">
            <label for="login">Введите ваш логин:</label>
            <input type="text" name="login" value="">
            <label for="pass">Введите ваш пароль:</label>
            <input type="password" name="pass" value="">
            <input type="submit" name="entry" value="Войти">
            <input type="submit" name="reg" value="Зарегистрироваться">
        </form>
    </body>