{% include 'header.html' %}

<h1>Корзина</h1>
<div class="basket">
    {% if content_data.data == 0 %}
        <p>Товаров в корзине нет</p>
    {% else %}
        {% for item in content_data.data %}
            <p>
                <strong>
                    Наименование:
                </strong>
                {{ item.name }}
            </p>
            <p>
                <strong>
                    Цена:
                </strong>
                {{ item.price }}
            </p>
            <p>
                <strong>
                    Количество:
                </strong>
                {{ item.count }}
            </p>
            <p>
                <strong>
                    Сумма:
                </strong>
                {{ item.amount }}
            </p>
            <button class="rm-goog" value="{{item.id_good}}">Удалить из корзины</button>
            <hr>
        {% endfor %}
        <p>
            <strong>
                Всего товаров:
            </strong>
            {{ content_data.totalCount }}
            шт.
        </p>
        <p>
            <strong>
                На сумму:
            </strong>
            {{ content_data.totalAmount }}
            руб.
        </p>

    {% endif %}

</div>
{% include 'footer.html' %}
