html,
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 150px;
    background-color: rgb(92, 92, 100);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-catalog {
    margin: 0 auto;
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 200px;
    height: 380px;
    display: flex;
    flex-direction: column;
    border: 2px solid blueviolet;
    border-radius: 10px;
    overflow: hidden;
}

.content h4 {
    text-align: center;
    margin: 10px 0 0 0;

}

.description {
    text-align: center;
    margin: 10px 0 10px 0;
}

.price {
    margin: 0 0 10px 0;
    padding: 5px;
    text-align: right;
}

.buy {
    margin-left: 110px;
}

.more a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.more a:hover {
    color: rgb(110, 161, 58);
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(70, 70, 75);
    margin-top: 20px;
    align-items: center;
    display: flex;
    align-items: center;
}

.footer p {
    padding-left: 20px;
}