{% include 'header.html' %}
<h2>Оформление заказа:</h2>
<!-- обертка товаров -->
<div class="wrap">
    {% for item in content_data.data %}
    <p>
        <strong>
            Наименование:
        </strong>
        <span>{{ item.name }}</span>
    </p>
    <p>
        <strong>
            Цена:
        </strong>
        <span>{{ item.price }}</span>
    </p>
    <p>
        <strong>
            Количество:
        </strong>
        <span class="count" data-quantity="{{item.id_good}}">{{ item.count }}</span>
    </p>
    <p>
        <strong>
            Сумма:
        </strong>
        <span class="summa" data-sum="{{item.id_good}}">{{ item.amount }}</span>
    </p>
    <hr>
    {% endfor %}
</div>
<div class="wrap-total">
    <p>
        <strong>
            Всего товаров:
        </strong>
        <span class="total-count">{{ content_data.totalCount }}
            шт.</span>
    </p>
    <p>
        <strong>
            На сумму:
        </strong>
        <span class="total-sum">{{ content_data.totalAmount }}
            руб.</span>
    </p>
    <p>
        <strong>
            Доставка:
        </strong>
        <span class="delivery-price">{{ content_data.delivery[0].delivery_price }} руб.</span>
    </p>
    <p>
        <strong>
            Итого:
        </strong>
        <span class="total">{{ content_data.totalAmount }}</span> руб.
    </p>
</div>
<hr>
<div class="wrap-delivery">
    <label for="delivery">Выберете способ доставки:</label><br>
    <div>
        <select class="delivery" name="delivery" required>
            {% for item in content_data.delivery %}
            <option value="{{ item.delivery_price }}" data-delivery_id="{{ item.delivery_id }}">
                {{ item.delivery_name }}</option>
            {% endfor %}
        </select>

    </div>
</div>
<br>
<form class="delivery-form" action="../public/index.php?path=order/done" method="POST">
    <button class="done" type="submit">Подтвердить</button></lable>
</form>

<script src="../public/js/delivery.js"></script>
{% include 'footer.html' %}